// 
// _card.scss
// 

.card {
  margin-bottom: $grid-gutter-width;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.08);
  // border-radius: 15px;
  margin-bottom: 20px;
}

.card-drop {
  color: $body-color;
}

.card-title {
  font-size: 15px;
  margin: 0 0 7px 0;
  font-weight: $font-weight-semibold;
}

.card-title-desc {
  color: $card-title-desc;
  margin-bottom: 24px;
}