.pagination>li {
  display: inline-block;
  padding-left: 0;

}

.pagination>li {
  list-style: none;
}

.pagination>li>a,
.pagination>li>span {
  position: relative;
  float: left;
  padding: 6px 12px;
  line-height: 1.42857143;
  text-decoration: none;
  color: #01092C !important;


}

.pagination>li.active>a {
  color: rgb(255, 255, 255) !important;
  background-color: #01092C;
  border-color: #fb445a3b !important;
}



.db-color-card {
  background: #edffef;
  border-radius: 15px;
  padding: 25px 25px 15px;
  margin-bottom: 25px;
  position: relative;
  overflow: hidden;
  color: #6cb373;
}

.db-color-card:before {
  content: "";
  position: absolute;
  left: -60px;
  top: -110px;
  background: rgba(255, 255, 255, 0.53);
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

.db-color-card .card-icon {
  height: 32px;
  position: relative;
}

.tags-input-container {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 4px;
}

.tag-item {
  display: flex;
  align-items: center;
  background-color: #e0e0e0;
  border-radius: 2px;
  padding: 5px;
  margin: 2px;
}

.tag-text {
  margin-right: 5px;
}

.tag-close {
  cursor: pointer;
  font-weight: bold;
}

#twss {
  border: none;
  outline: none;
  flex-grow: 1;
  padding: 5px;
  font-size: 14px;
}

#oppd{
  border-radius: none !important;
}